In [198]:
import os
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer


os.chdir('E:/ml/recommendation system')

In [288]:
df = pd.read_csv('movie_data.csv')

print(df.shape)
#df = df.head(1000)
df

(5043, 14)

,director_name,duration,actor_2_name,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,movie_imdb_link,num_user_for_reviews,language,country,title_year,imdb_score
0,James Cameron,178.0,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,7.9
1,Gore Verbinski,169.0,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,7.1
2,Sam Mendes,148.0,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,6.8
3,Christopher Nolan,164.0,Christian Bale,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,8.5
4,Doug Walker,NaN,Rob Walker,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,8,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,87.0,Daphne Zuniga,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,Crystal Lowe,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,6.0,English,Canada,2013.0,7.7
5039,NaN,43.0,Valorie Curry,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,Sam Underwood,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.0,English,USA,NaN,7.5
5040,Benjamin Roberds,76.0,Maxwell Moody,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,David Chandler,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.0,English,USA,2013.0,6.3
5041,Daniel Hsia,100.0,Daniel Henney,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,Eliza Coupe,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.0,English,USA,2012.0,6.3
5042,Jon Gunn,90.0,Brian Herzlinger,Documentary,John August,My Date with Drew,4285,Jon Gunn,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,2004.0,6.6

In [289]:
df.columns

Index(['director_name', 'duration', 'actor_2_name', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'actor_3_name', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'title_year',
       'imdb_score'],
      dtype='object')

In [290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         4939 non-null   object
 1   duration              5028 non-null   float64
 2   actor_2_name          5030 non-null   object
 3   genres                5043 non-null   object
 4   actor_1_name          5036 non-null   object
 5   movie_title           5043 non-null   object
 6   num_voted_users       5043 non-null   int64
 7   actor_3_name          5020 non-null   object
 8   movie_imdb_link       5043 non-null   object
 9   num_user_for_reviews  5022 non-null   float64
 10  language              5031 non-null   object
 11  country               5038 non-null   object
 12  title_year            4935 non-null   float64
 13  imdb_score            5043 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 551.7+ KB

In [291]:
df = df.convert_dtypes()

In [292]:
df_col = df.columns.tolist()
df_col

['director_name',
 'duration',
 'actor_2_name',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'actor_3_name',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'title_year',
 'imdb_score']

In [293]:
df['movie_id'] = df.index

In [294]:
col = ['director_name', 'actor_2_name', 'actor_1_name', 'actor_3_name', 'genres', 'movie_title',\
       'num_voted_users', 'language', 'country', 'imdb_score']
df[col].head()

,director_name,actor_2_name,actor_1_name,actor_3_name,genres,movie_title,num_voted_users,language,country,imdb_score
0,James Cameron,Joel David Moore,CCH Pounder,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,Avatar,886204,English,USA,7.9
1,Gore Verbinski,Orlando Bloom,Johnny Depp,Jack Davenport,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,471220,English,USA,7.1
2,Sam Mendes,Rory Kinnear,Christoph Waltz,Stephanie Sigman,Action|Adventure|Thriller,Spectre,275868,English,UK,6.8
3,Christopher Nolan,Christian Bale,Tom Hardy,Joseph Gordon-Levitt,Action|Thriller,The Dark Knight Rises,1144337,English,USA,8.5
4,Doug Walker,Rob Walker,Doug Walker,<NA>,Documentary,Star Wars: Episode VII - The Force Awakens ...,8,<NA>,<NA>,7.1

In [295]:
df[col].isna().values.any()

True

In [296]:
# function to combine values of the important column into a single string

def imp_feature(data):
    imp_f = []
    for i in range(data.shape[0]):
        s = df['director_name'][i] + ' ' + df['actor_2_name'][i] + ' ' +  df['actor_1_name'][i] + ' ' \
                     + df['actor_3_name'][i] + ' ' + df['genres'][i] + ' ' + df['language'][i] + ' ' + df['country'][i]
        imp_f.append(s)

    return imp_f

In [297]:
df['important_features'] = imp_feature(df)

In [298]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4884 entries, 0 to 5042
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         4884 non-null   string
 1   duration              4884 non-null   Int64
 2   actor_2_name          4884 non-null   string
 3   genres                4884 non-null   string
 4   actor_1_name          4884 non-null   string
 5   movie_title           4884 non-null   string
 6   num_voted_users       4884 non-null   Int64
 7   actor_3_name          4884 non-null   string
 8   movie_imdb_link       4884 non-null   string
 9   num_user_for_reviews  4884 non-null   Int64
 10  language              4884 non-null   string
 11  country               4884 non-null   string
 12  title_year            4884 non-null   Int64
 13  imdb_score            4884 non-null   Float64
 14  movie_id              4884 non-null   int64
 15  important_features    4884 non-null   object
dtypes: Float64(1), Int64(4), int64(1), object(1), string(9)
memory usage: 672.5+ KB

In [299]:

#df['important_features'].fillna('xyz')
#df['important_features'] = df['important_features'].str.lower()
df = df.convert_dtypes()

In [300]:
cm = CountVectorizer().fit_transform(df['important_features'])

In [301]:
cs = cosine_similarity(cm)
print(cs)
cs.shape

[[1.         0.34668762 0.20801257 ... 0.20801257 0.12909944 0.12909944]
 [0.34668762 1.         0.23076923 ... 0.15384615 0.14322297 0.14322297]
 [0.20801257 0.23076923 1.         ... 0.15384615 0.07161149 0.07161149]
 ...
 [0.20801257 0.15384615 0.15384615 ... 1.         0.21483446 0.14322297]
 [0.12909944 0.14322297 0.07161149 ... 0.21483446 1.         0.13333333]
 [0.12909944 0.14322297 0.07161149 ... 0.14322297 0.13333333 1.        ]]

(4884, 4884)

In [302]:
title = 'The Dark Knight Rises'
movie_id = df[df['movie_title'] == title].index
#movie_id = df[df.movie_title == title]['movie_id'].values[0]

In [303]:
movie_id

Int64Index([], dtype='int64')

In [308]:
scores = list(enumerate(cs[1]))
df.iloc[1]

director_name                                              Gore Verbinski
duration                                                              169
actor_2_name                                                Orlando Bloom
genres                                           Action|Adventure|Fantasy
actor_1_name                                                  Johnny Depp
movie_title                     Pirates of the Caribbean: At World's End
num_voted_users                                                    471220
actor_3_name                                               Jack Davenport
movie_imdb_link         http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                 1238
language                                                          English
country                                                               USA
title_year                                                           2007
imdb_score                                                            7.1
movie_id                                                                1
important_features      Gore Verbinski Orlando Bloom Johnny Depp Jack ...
Name: 1, dtype: object

In [309]:
sorted_scores = sorted(scores, key = lambda x:x[1], reverse = True)
sorted_scores = sorted_scores[1:]

In [310]:
#print(sorted_scores, type(sorted_scores))

In [311]:
j = 0
df_result = pd.DataFrame()
title = []
genre = []
sc = []
for i in sorted_scores:
    
    movie_title = df[df.movie_id == i[0]]['movie_title'].values[0]
    genres = df[df.movie_id == i[0]]['genres'].values[0]
    title.append(movie_title)
    genre.append(genres)
    sc.append(i[1])
    #print(df_result)
    j += 1
    if j > 20:
        break
df_result['Recommended_Movie'] = title
df_result['Genre'] = genre
df_result['Score'] = sc
df_result

,Recommended_Movie,Genre,Score
0,Quantum of Solace,Action|Adventure,1.000000
1,Harry Potter and the Sorcerer's Stone,Adventure|Family|Fantasy,1.000000
2,Pirates of the Caribbean: Dead Man's Chest,Action|Adventure|Fantasy,0.615385
3,The Avengers,Action|Adventure|Sci-Fi,0.538462
4,Sex and the City 2,Comedy|Drama|Romance,0.518875
5,The Road to El Dorado,Adventure|Animation|Comedy|Family|Romance,0.518875
6,The Revenant,Adventure|Drama|Thriller|Western,0.501280
7,Iron Man 3,Action|Adventure|Sci-Fi,0.461538
8,Poseidon,Action|Adventure|Drama|Thriller,0.461538
9,In the Name of the King: The Last Job,Action|Adventure|Fantasy|Thriller,0.461538
10,I Am Legend,Drama|Horror|Sci-Fi,0.444750
11,Real Steel,Action|Drama|Sci-Fi|Sport,0.429669
12,The Lord of the Rings: The Fellowship of the R...,Action|Adventure|Drama|Fantasy,0.429669
13,The Twilight Saga: New Moon,Adventure|Drama|Fantasy|Romance,0.429669
14,Mr. Peabody & Sherman,Adventure|Animation|Comedy|Family|Sci-Fi,0.418121
15,Nim's Island,Adventure|Comedy|Family|Fantasy,0.400320
16,Forsaken,Drama|Western,0.400320
17,Firefox,Action|Adventure|Thriller,0.400320
18,Thomas and the Magic Railroad,Adventure|Comedy|Drama|Family|Fantasy,0.400320
19,The Hobbit: The Battle of the Five Armies,Adventure|Fantasy,0.384615
20,Skyfall,Action|Adventure|Thriller,0.384615

In [188]:
title = 'Ant-Man'
title = title.lower()
movie_id = df[df['movie_title'] == title].index
movie_id

Int64Index([], dtype='int64')

In [194]:
df[df['movie_title'] == 'avatar'].index

Int64Index([], dtype='int64')

In [182]:
df[df['movie_title'] == 'movie_title'].index

Int64Index([], dtype='int64')

In [179]:
df = df.convert_dtypes()

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         2000 non-null   string
 1   duration              1996 non-null   Int64
 2   actor_2_name          2000 non-null   string
 3   genres                2000 non-null   string
 4   actor_1_name          2000 non-null   string
 5   movie_title           2000 non-null   string
 6   num_voted_users       2000 non-null   Int64
 7   actor_3_name          2000 non-null   string
 8   movie_imdb_link       2000 non-null   string
 9   num_user_for_reviews  1997 non-null   Int64
 10  language              2000 non-null   string
 11  country               2000 non-null   string
 12  title_year            1961 non-null   Int64
 13  imdb_score            2000 non-null   Float64
 14  movie_id              2000 non-null   Int64
 15  important_features    2000 non-null   string
dtypes: Float64(1), Int64(5), string(10)
memory usage: 261.8 KB